.section-header {
  background-image: url(/img/agenda.jpg);
}

.gigs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.gigs li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1em;
  box-shadow: 0 1px 2px #0005, 0 2px 3px var(--clr-blue-lighter);
  overflow: hidden;
  background: linear-gradient(
    190deg,
    var(--clr-blue-lightest),
    var(--clr-blue-lighter)
  );
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-right: 5vw;
  margin-left: 0;
}

.gigs li:nth-of-type(even) {
  box-shadow: 0 1px 2px #0005, 0 2px 3px var(--clr-yellow-lighter);
  background: linear-gradient(
    190deg,
    var(--clr-yellow-lightest),
    var(--clr-yellow-lighter)
  );
  margin-left: 5vw;
  margin-right: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

.gigs li:nth-of-type(even) .gig-name {
  background-color: var(--clr-yellow-lighter);
  border-left: 5px solid var(--clr-yellow-light);
}

.gigs li:nth-of-type(even) .gig-date {
  border-right: 5px solid var(--clr-yellow-light);
}


.gigs h4 {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.gig-name {
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: var(--clr-blue-lighter);
  padding: .5em 0.75em;
  border-left: 5px solid var(--clr-blue-light);
  min-width: 50%;
}

.gig-date {
  max-width: max-content;
  align-self: flex-end;
  display: block;
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 0.5em 0.75em;
  border-right: 5px solid var(--clr-blue-light);
  text-align: right;
  font-weight: bold;
  color: #444;
  background-color: #fff5;
}

.gig-text {
  font-size: 0.9rem;
  display: flex;
  padding: 1em;
  background-color: #fff;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.gig-img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 4 / 3;
}

@media (max-width: 480px) {
  .gigs li {
    grid-template-columns: 1fr 1fr;
  }

  .gigs h4 {
    grid-column: 1 / -1;
  }

  .gig-text {
    grid-column: 1 / -1;
  }

  .gig-img {
    grid-column: 1 / -1;
  }
}

@media (min-width: 840px) {
  .gigs li {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .gigs h4 {
    grid-column: 1 / 2;
  }

  .gig-img {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
  }
}