.section-header {
    background-image: url(https://images.unsplash.com/photo-1551751299-1b51cab2694c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-position-y: 40%;
}

.happyhours-list {
    list-style: none;
    font-size: 1rem;
}

.happyhours-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .75em;
    position: relative;
    border-bottom: 2px dotted var(--clr-yellow-lighter);
}

