*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-gray: #4b5563;
  --clr-gray-light: #9ca3af;
  --clr-gray-lighter: #e5e7eb;
  --clr-gray-lightest: #f9fafb;
  --clr-gray-dark: #111827;
  --clr-red: #dc2626;
  --clr-red-lighter: #fecaca;
  --clr-red-light: #f87171;
  --clr-red-lightest: #fef2f2;
  --clr-red-dark: #7f1d1d;
  --clr-yellow: #d97706;
  --clr-yellow-lighter: #fde68a;
  --clr-yellow-light: #fbbf24;
  --clr-yellow-lightest: #fffbeb;
  --clr-yellow-dark: #78350f;
  --clr-green: #059669;
  --clr-green-lighter: #a7f3d0;
  --clr-green-light: #34d399;
  --clr-green-lightest: #ecfdf5;
  --clr-green-dark: #064e3b;
  --clr-blue: #2563eb;
  --clr-blue-lighter: #bfdbfe;
  --clr-blue-light: #60a5fa;
  --clr-blue-lightest: #eff6ff;
  --clr-blue-dark: #1e3a8a;
  --clr-indigo: #4f46e5;
  --clr-indigo-lighter: #c7d2fe;
  --clr-indigo-light: #818cf8;
  --clr-indigo-lightest: #eef2ff;
  --clr-indigo-dark: #312e81;
  --clr-purple: #7c3aed;
  --clr-purple-lighter: #ddd6fe;
  --clr-purple-light: #a78bfa;
  --clr-purple-lightest: #f5f3ff;
  --clr-purple-dark: #4c1d95;
  --clr-pink: #db2777;
  --clr-pink-lighter: #fbcfe8;
  --clr-pink-light: #f472b6;
  --clr-pink-lightest: #fdf2f8;
  --clr-pink-dark: #831843;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 700;

  --shadow-color: 196deg 36% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body, html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: var(--font-regular);
  font-size: 1rem;
  color: #222;
}

.container {
  display: grid;
  grid-template-columns: 6vw 1fr 6vw;
  background-color: #222;
}
²
.five-col {
  display: grid;
  grid-template-columns: 1fr calc(2em + 6vw) 60vw calc(2em + 6vw) 1fr;
}

ul {
  list-style: none;
}

@media (max-width: 640px) {
  .full-bleed {
    grid-column: 1 / -1 !important;
    overflow: hidden;
  }
}

.cta {
  display: block;
  width: max-content;
  cursor: pointer;
  border: 2px solid var(--clr-yellow-lighter);
  background-color: #fff;
  color: #222;
  font-size: 1rem;
  font-weight: var(--font-medium);
  padding: 0.75em 1.25em;
  text-decoration: none;
  position: relative;
  margin: 1em auto;
  text-transform: uppercase;
  transition: all 0.2s;
  z-index: 2;
}

.cta::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--clr-yellow-lighter);
  transition: all 0.1s;
  z-index: -1;
  border: 3px solid #fff;
}

.cta:hover {
  transform: translateY(3px);
}

.cta:hover::before {
  transform: scaleY(0.95) scaleX(1.2) rotate(1deg);
}

hr {
  border-bottom: 1px solid var(--clr-yellow-lighter);
  border-top: 4px solid var(--clr-yellow-lightest);
  height: 5px;
  border-left: none;
  border-right: none;
  margin: 2em;
}

/*  */

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  background-color: var(--clr-yellow-light);
}

.header-logo a {
  font-family: "Poiret One", cursive;
  color: inherit;
  text-decoration: none;
}

.main-nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  list-style: none;
  text-transform: uppercase;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #222;
  font-weight: var(--font-medium);
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
  transition: all 0.3s;
  z-index: 2;
}


.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s;
}

.nav-link:hover::before,
.nav-current::before {
  transform: translateX(-50%) scaleX(1);
}


/* Main */

.section-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  padding: 6em 2em calc(6em + 100px);
  background-color: #111;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.section-header h2 {
  background-color: #fff;
  padding: 0.5em 1.75em;
}

section {
  grid-column: 1 / -1;
  transform: translateY(-100px);
  margin-bottom: 5em;
}

.five-col > div {
  position: relative;
  background-color: #fff;
  padding: 2em;
  max-width: 50em;
  margin: auto;
  grid-column: 3 / 4;
  outline: 1px solid var(--clr-yellow-lighter);
  outline-offset: -5px;
}

section:last-of-type .five-col > div {
  grid-column: 2 / 5;
}

.five-col > div::before {
  content: "";
  position: absolute;
  background: var(--clr-yellow-lighter);
  top: 2em;
  transform: rotate(1deg);
  left: -1.5em;
  right: -1.5em;
  bottom: -1.5em;
  z-index: -1;
}

section h3 {
  position: relative;
  padding: 0.5em 0;
  margin-bottom: 1em;
  font-size: 1.3rem;
  color: #444;
}

section h3::before {
  content: "";
  position: absolute;
  width: 3em;
  height: 4px;
  bottom: 0;
  background-color: var(--clr-yellow-light);
}

section p {
  line-height: 1.4;
}

section p + p {
  margin-top: 0.75em;
}

section:last-of-type {
  transform: translateY(-200px);
}
section:last-of-type:not(:first-of-type) {
  background: linear-gradient(45deg, salmon, var(--clr-red-lighter));
}

section:first-of-type {
  z-index: 10;
}

section:last-of-type .five-col {
  transform: translateY(100px);
}

.grid-list {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  list-style: none;
  justify-items: center;
  align-items: center;
  margin-bottom: 2em;
}

.grid-list li {
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
  padding: 0.5em;
  background: var(--clr-yellow-lightest);
  width: 100%;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px #2225;
}

.grid-list svg {
  margin: 0.5em;
}

.grid-list a {
  color: inherit;
}

.d-none {
  display: none !important;
}

.liste-bandeau {
  margin-top: 0.5em;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liste-bandeau li {
  position: relative;
  padding: 0.5em;
  z-index: 1;
}

.liste-bandeau li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: linear-gradient(
    -120deg,
    var(--clr-yellow-lighter),
    var(--clr-yellow-lightest),
    var(--clr-yellow-lighter)
  );
  z-index: -1;
  transform: translateX(-50%) skew(-45deg);
  top: 60%;
  left: 50%;
}

.details-list {
  list-style: none;
}

.details-list li {
  position: relative;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.details-list li::before {
  content: "";
  position: absolute;
  left: -1em;
  top: 0.5em;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: var(--clr-yellow);
}

.lastdetails {
  padding: 0 0.75em;
  border-left: 5px solid var(--clr-yellow-lighter);
}

/* Footer */

footer {
  margin-top: -120px;
}

footer .container {
  background: linear-gradient(
    40deg,
    var(--clr-yellow-lighter),
    var(--clr-yellow-lightest)
  );
  background: #222;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .container > div {
  margin: 1.5em 3em;
  display: flex;
  flex-direction: column;
}

footer .infos-pratiques {
  justify-content: center;
}

footer .localisation {
  margin-top: 1em;
}

.infos-pratiques .stationsmetro {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.infos-pratiques .stationsmetro li {
  display: flex;
  align-items: center;
  margin-top: .25em;
}

.infos-pratiques .stationsmetro img {
  display: inline-block;
  width: 1.25em;
  line-height: inherit;
  margin-right: .25em;

}


footer .newsletter-sub {
  align-items: stretch;
  justify-content: center;
}

footer .newsletter-sub label {
  display: flex;
  flex-direction: column;
}

footer .newsletter-sub input[type="email"] {
  display: block;
  flex: 1;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  font-family: inherit;
  font-size: 1rem;
}

footer .contact {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
}

footer button.cta {
  margin: 0 auto;
  font-size: 0.9rem;
}

.contact-links a {
  display: block;
  margin: 0.2em;
  color: var(--clr-yellow-light);
  text-decoration-color: transparent;
  transition: all 0.2s;
}

.contact-links a:hover {
  text-decoration-color: currentColor;
  color: #fff;
}

footer .social-icons {
  display: flex;
  padding: 0.5em;
  justify-content: center;
}

footer .social-icon {
  width: 32px;
  height: 32px;
  margin: 0.25em;
  opacity: 0.7;
  transition: all 0.2s;
}

footer .social-icon:hover {
  opacity: 1;
}

.social-icon svg {
  max-height: 100%;
}
